.container {
    background:  #062ac9;
    width: 960px;
    height: 600px;
}

input {
    height: 300px;
    width: 800px;
    margin-left: 60px;
    margin-top: 80px;
}

h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 60px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 640px) {
    input {
        width: 385px;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    input {
        width: 385px;
    }
}

@media screen and (min-width: 769px) and (max-width: 993px) {
    input {
        width: 550px;
    }
}



